@use "./scss/" as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');


*{
    // padding: 0;
    // margin: 0;
    box-sizing: border-box;
  }
  
  
html{
    font-size: 100%;
  
    @include tablet{
      font-size: 80%;
    }
    @include mobile{
      font-size: 60%;
    }
  }
  

body{
    background-image: linear-gradient( 0deg, $body-bg,$body-bg), url( '../static/bg1.png' );
    font-family: Poppins, sans-serif;
    color: white;
    font-weight: 400;
    line-height: 1.5;
    @include mobile{
        margin-bottom: 3rem;
      }
}

.pokedex_app
{
    padding: 1rem;
    border-radius: 1rem;
}

.bg_pokeball{
  position: absolute;
  @include flex(center,center);
  right: -10px;
  bottom: -10px;
  font-size: 10px;
  color: rgba( 255,255,255,.2 );


  &::before{
    display: block;
    border-radius: 100%;
    content: '';
    position: relative;
    width: 10em;
    padding-bottom: 10em;
    border: 4em solid currentColor;
    clip-path: polygon( 0 0, 0 40%, 50% 40%, 50% 60%, 0 60%, 0 100%, 100% 100%, 100% 60%, 50% 60%, 50% 40%, 100% 40%, 100% 0 );

  }
  &::after{
    content: '';
    position: absolute;
    width: 5em;
    padding-bottom: 5em;
    background-color: currentColor;
    border-radius: 50%;
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;

  border-radius: 10px;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
&:hover{
  background: #555;
}
}

