@use "./scss/" as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
html{
    font-size: 100%;
  
    @include tablet{
      font-size: 80%;
    }
    @include mobile{
      font-size: 60%;
    }
  }
  

body{
    background-image: linear-gradient( 0deg, $body-bg,$body-bg), url( '../static/bg1.png' );
    font-family: Poppins, sans-serif;
    color: $txt-color;
    font-weight: 400;
    line-height: 1.5;
    @include mobile{
        margin-bottom: 3rem;
      }
}

.pokedex_app
{
    padding: 1rem;
    border-radius: 1rem;
}