@use '../../styles/scss/' as *;



.heading{
    margin: 1rem 0 4rem;
    text-align: center;
    font-size: 4rem;
    color: #444;
    position: relative;
    text-shadow: 2px 1px 2px rgba(0,0,0,0.2);
    &::after{
        content: '';
        display: block;
        width: 14rem;
        position: relative;
        background-color: $pokemon_red;   
        top: 100%;
        left: 50%;
        height: 0.6rem;
        border-radius: 10rem;

        margin-left:-7rem ;
    }

    & > i{
        display: inline-block;
        height: 2.8rem;
        width: 2.8rem;
        background-image: url('../../static/pokeball.svg');
        background-repeat: no-repeat;
        
    }
}