@font-face {
    font-family: 'Pokemon Solid';
    src: url('../../static/Pokemon\ Solid.ttf');
}

@font-face {
    font-family: 'Pokemon Hollow';
    src: url('../../static/Pokemon\ Hollow.ttf');
}


